<h1 class="mt-4">Cliente</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Lista de Clientes</li>
    </ol>
    <div class="container">
        <div class="alert alert-success" role="alert" *ngIf="msgSuccess==true">
            {{mensagemDelete}}
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="msgFail==true">
            {{mensagemDelete}}
          </div>
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-warning" routerLink="/clientes-form"><fa-icon [icon]="faPlus"></fa-icon>Novo</button>
                </div>
                </div>
                <br/>
                <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Data de Cadastro</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Data de Nascimento</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientes">
                        <td>{{cliente.id}}</td>
                        <td>{{cliente.dataCadastro}}</td>
                        <td>{{cliente.nome}}</td>
                        <td>{{cliente.cpf}}</td>
                        <td>{{cliente.dataNascimento}}</td>
                        <td><button class="btn btn-primary" routerLink="/clientes-form/{{cliente.id}}"><fa-icon [icon]="faPen"></fa-icon></button></td>
                        <td><button class="btn btn-danger" (click)="preparoDeletar(cliente.id)"><fa-icon [icon]="faTrash"></fa-icon></button></td>
                    </tr>
                </tbody>
                </table>
    </div>
    <div class="modal" id="modalDelete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Confirmar</h3>
                </div>
                <div class="modal-body">
                    <p>Deseja realmente deletar o(a) cliente {{clienteDelete.nome}} ?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success"(click)="deletarCliente(clienteDelete.id)">Confirmar</button>
                    <button class="btn btn-danger" (click)="fecharModalDelete()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>